@model aspnet6_app.Models.ViewProductViewModel

@{
    ViewData["Title"] = "View Product";
}

<a asp-controller="Product" asp-action="View"><h2>Product Details</h2></a>

<a asp-controller="Product" asp-action="Index">Back to Product List</a>
<br />
<br />

<strong>ID:</strong> @Model.Id
<br />
<strong>Name:</strong> @Model.Name 
<br />
<strong>Variant:</strong> @Model.Variant 
<br />
<strong>Quantity:</strong> @Model.Qty 
<br />
<strong>Price:</strong> @Model.Price 
<br />
<strong>Description:</strong> @Model.Description 
<br />